<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COUW | Creatures Of Unknown Worlds</title>
    <!-- Latest compiled and minified CSS -->

    <%- include('partials/head') %>

</head>

<style>
body{
    overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.card{
    background-color: #ffffff96 !important;
    border: 0px !important;
    max-width: 720px;
    margin: auto;
}
</style>
<body>

<div class="container">
    <div class="card text-center mt-5" style="z-index: 1;">
        <div class="card-body">
        <h5 class="tituloCOUW animate__animated animate__flipInX">Creatures Of Unknown Worlds</h5>
        <br>   

        <a href="/login" class="pushy__btn pushy__btn--df pushy__btn--blue button estiloStickersDisponibles animate__animated animate__fadeIn">
            <span class="fa fa-user"></span> Iniciar Sesión
        </a>
        <a href="/signup" class="pushy__btn pushy__btn--df pushy__btn--blue button estiloStickersDisponibles animate__animated animate__fadeIn">
            <span class="fa fa-user"></span> Registrarse
        </a>
        </div>
    </div>
   
</div>                

</body>
</html>